# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
src/launcher/Launcher.depend
src/launcher/Launcher.layout
src/launcher/obj/Release/updater.obj
src/launcher/obj/Release/resource.res
src/launcher/obj/Release/main.obj
src/launcher/obj/Release/launcher.obj
src/launcher/obj/Release/config.obj
*.o
*.gch
src/project/obj32/project/mingw.res
src/project/obj64/project/mingw.res
src/project/Cube Conflict.layout
src/project/Cube Conflict.depend
src/project/Cube Conflict.depend
.txt
src/project/Cube Conflict.depend
Nouveau document texte.txt
src/project/Cube Conflict.depend
media/model/objets/panachay/capsule.jpg
media/model/objets/panachay/bouteille.jpg
media/model/objets/panachay/capsule.jpg
media/model/objets/panachay/bouteille.jpg
Changelog.txt
src/project/Cube Conflict.cbp
src/project/Cube Conflict.depend
BLOC.txt
src/project/Cube Conflict.cscope_file_list
src/project/Cube Conflict.depend
todo.txt
